In [6]:
from scipy import stats
import pandas as pd
import numpy as np

In [11]:
t_score = (4-7.6)/(3/np.sqrt(50))
t_score

-8.48528137423857

In [3]:
stats.norm.ppf(0.975)

1.959963984540054

In [12]:
2*stats.t.cdf(-8.4,49)

4.7028048639780004e-11

In [14]:
data = pd.Series([0.593, 0.142, 0.329, 0.691, 0.231, 0.793, 0.519, 0.392, 0.418])

In [15]:
stats.ttest_1samp(data,0.3)

Ttest_1sampResult(statistic=2.2050588385131595, pvalue=0.05853032968489765)

In [4]:
stats.norm.cdf(1.960)

0.9750021048517795

In [7]:
glaxo_df=pd.read_csv('/Users/chira/Downloads/glaxo_df.csv')

In [8]:
glaxo_df.head()

         Date      Date.1    Close      gain
0  2010-01-05  2010-01-05  1616.80 -0.005444
1  2010-01-06  2010-01-06  1638.50  0.013422
2  2010-01-07  2010-01-07  1648.70  0.006225
3  2010-01-08  2010-01-08  1639.80 -0.005398
4  2010-01-11  2010-01-11  1629.45 -0.006312

In [5]:
glaxo_df_ci = stats.norm.interval(0.95,
loc = glaxo_df.gain.mean(),
scale = glaxo_df.gain.std())
print( 'Gain at 95% confidence interval is:', np.round(glaxo_df_ci,4))

Gain at 95% confidence interval is: [-0.0258  0.0266]

In [6]:
beml_df=pd.read_csv('/Users/chira/Downloads/beml_df.csv')

beml_df_ci = stats. norm.interval(0.95,
loc=beml_df.gain.mean(),
scale=beml_df.gain.std())
print( 'Gain at 95% confidence interval is:', np.round(beml_df_ci, 4))

Gain at 95% confidence interval is: [-0.0515  0.0521]

In [1]:
from scipy import stats

In [5]:
stats.t.cdf(2.23,df=10)

0.9750787646106596